table {
	margin: 2rem auto;
	padding: 1rem;
	border-collapse: collapse;
	border: 1px solid var(--soft-dark);
}

th, td {
	padding: .5rem;
}

th {
	background-color: var(--green);
	border: 1px solid var(--green);
}

.color-row {
	background-color: var(--gray);
}

#restart {
	display: flex;
	justify-self: center;
	justify-content: center;
	font-weight: 700;
	font-size: 1rem;
}
